<div class="container">
    {{#if success_msg}}
        <div class="alert alert-success">
            {{success_msg}}
        </div>
    {{/if}}
    {{#if error_msg}}
        <div class="alert alert-danger">
            {{error_msg}}
        </div>
    {{/if}}
    <div class="row">
        <div class="col mt-5">
            <button class="btn btn-info float-right" data-toggle="modal" data-target="#addCourse"><i class="fas fa-plus mr-2"></i>ADD COURSE</button>
            <div class="table-responsive mt-5">
                <table id="courses" class="table table-striped table-bordered courses" style="width: 100%;">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Broadcast On</th>
                        <th>Speaker</th>
                        <th>Added In</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                        {{#each courses}}
                            <tr>
                                <td>{{name}}</td>
                                <td>R$ {{price}}</td>
                                <td>{{broadcast_on}}</td>
                                <td>{{speaker}}</td>
                                <td>{{created_at}}</td>
                                <td class="text-center">
                                    <button class="btn btn-info mr-2"><i class="fas fa-edit"></i></button>
                                    <button class="btn btn-danger del" data-id="{{id}}" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fas fa-trash-alt"></i></button>
                                </td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> DELETAR </h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>X</span>
                </button>
            </div>
            <div class="modal-body">
                Deseja deletar este Funcionario mesmo ?
            </div>
            <div class="modal-footer">
                <input type="hidden" value="" name="idFunc" class="idFunc">
                <button type="button" class="btn btn-danger" data-dismiss="modal">NAO</button>
                <button type="button" class="btn btn-primary yes">SIM</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addCourse" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> ADD </h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>X</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" action="/courses" id="createCourse">
                    <div class="form-group">
                        <label>Course Name</label>
                        <input class="form-control" id="courseName" type="text" name="courseName" placeholder="Ex: JSF + Primefaces" autofocus>
                    </div>
                    <div class="form-group">
                        <label>Price</label>
                        <input class="form-control" id="price" type="text" name="price" placeholder="Ex: R$ 39,99">
                    </div>
                    <div class="form-group">
                        <label>Broadcast On</label>
                        <input type="datetime-local" id="broadcast_on" name="broadcast_on" class="form-control" >
                    </div>
                    <div class="form-group">
                        <label>Speaker</label>
                        <select required id="speaker" name="speaker"  class="form-control">
                            <option selected disabled value="0">Select the Speaker</option>
                            <option value="1">Giovanni</option>
                        </select>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">ADD</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $(".alert").fadeTo(3200, 800).slideUp(1000, function(){
            $(".alert").slideUp(500);
        });

        $(function() {
            $('#price').maskMoney({prefix:'R$ ', allowNegative: true, thousands:'', affixesStay: false});
        })
        var idEncrypt;
        $('.del').on('click',function () {
            idEncrypt = $(this).attr('data-id');
            $('#myModal').modal('show');
        });
        $('.yes').on('click', function () {
            window.location.replace("/delete/course/"+idEncrypt);
        });
        $('#courses').DataTable({
            "scrollY": "500px",
            "scrollCollapse": true
        });
    });
</script>