<div class="row h4">
    <div class="col-lg-12">
        <nav aria-label="breadcrumb" role="navigation">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="text-secondary" href="/home">Home</a></li>
                <li class="breadcrumb-item" aria-current="page"><a class="text-secondary" href="/questionnaries">Questionários</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a class="text-secondary" href="/questionnaries/details/{{qnr.id}}">{{qnr.name}}</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a class="text-primary">{{group.name}}</a></li>
            </ol>
        </nav>
    </div>
</div>
<hr>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<style>
  iframe{
    width: 100%;
    background-color: aqua;
  }
  .importGraph {
    -webkit-box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.75);
    border-radius: 5px;
  }
</style>
<div class="container-fluid">
  <div class="row mb-5">
    <div class="col-lg-12">
      <div id="chart_div"></div>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-lg-6 col-md-12 importGraph ">
      <div class="embed-responsive embed-responsive-4by3" id="myFrame0">
      </div>
    </div>
    <div class="col-lg-6 col-md-12 importGraph">
      <div class="embed-responsive embed-responsive-4by3" id="myFrame1">
      </div>
    </div>
  </div>
</div>
<!--Grid row-->
<script type="text/javascript">
    var ids = [];
    $.getJSON("/questionnaries/groups/getdetails/{{idqnr}}/{{idgroup}}", (dato)=>{
      let datos = dato;
      google.charts.load("current", {packages:['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable(results());
        var view = new google.visualization.DataView(data);
        view.setColumns([0, 1,
                        { calc: "stringify",
                          sourceColumn: 1,
                          type: "string",
                          role: "annotation" },
                        2]);

        var options = {
          title: "SubGrupos ",
          width: '100%',
          height: 500,
          legend: { position: "none" },
          vAxis: {
              viewWindow:{
                max:100,
                min:0
              }
            }
        };
        var chart = new google.visualization.ColumnChart(document.getElementById("chart_div"));
        chart.draw(view, options);

        google.visualization.events.addListener(chart, 'select', selectHandler);
        //selectHandler();
        function selectHandler() {
          console.log('ola')
          var selection = chart.getSelection();
          for (var i = 0; i < selection.length; i++) {
            var item = selection[i];
            if (item.row != null && item.column != null) {
              var str = data.getFormattedValue(item.row, item.column);
              var category = data.getValue(chart.getSelection()[0].row, 0)
              var id = ids[chart.getSelection()[0].row];
              reqDetails(id)
            } 
          }
        }
      }
      function results(){
        var aux = [["Element", "Density", { role: "style" } ]];
        for(let i = 0; i < datos.length; i++){
          ids.push(datos[i].id);
          aux.push([datos[i].name, datos[i].percentage,'strstrokeoke-color: #0077b6; stroke-opacity: 0.8; stroke-width: 4; fill-color: #0077b6; fill-opacity: 0.5']);
        }
        return aux;
      }
      $(window).resize(function(){
        drawChart();
      });
    });
    let cont = 0;
    function reqDetails(id){
      $("#myFrame"+cont).html('');
      $("#myFrame"+cont).html('<iframe scrolling="no" class="embed-responsive-item" src="/questionnaries/subgroups/details/{{idqnr}}/'+id+'" style="height: 100%" allowfullscreen></iframe>'); 
      cont++;
      if(cont >= 2){cont = 0};
    }
</script>