<div class="col-md-12 col-sm-12">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/home">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="/groups">Grupos</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{name}}</li>
        </ol>
    </nav>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col mt-5">
            <button class="btn btn-info float-right" data-toggle="modal" data-target="#addSubGroup"><i class="fa fa-plus mr-2"></i>ADD SUBGRUPO</button>
            <div class="table-responsive mt-5">
                <table id="subgroups" class="table table-bordered subgroups text-center display nowrap" style="width: 100%;">
                    <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Questões</th>
                        <th>Adicionado Em</th>
                        <th>Opções</th>
                    </tr>
                    </thead>
                    <tbody>
                        {{#each subgroups}}
                            <tr {{#compare deleted_at '!=' null}}class="alert-danger"{{/compare}}>
                                <td>{{name}}</td>
                                <td>{{qtde}}</td>
                                <td>{{created_at}}</td>
                                <td>
                                    {{#compare deleted_at '!=' null}}
                                        Deletado
                                    {{else}}
                                        <a class="btn btn-success" href="/groups/sub/questions/{{id}}"  title="View"><i class="fa fa-eye"></i></a>
                                        <button class="btn btn-danger del" data-id="{{id}}" title="Delete"><i class="fa fa-trash"></i></button>
                                    {{/compare}}
                                </td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addSubGroup" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> ADD </h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>X</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" action="/groups/sub" id="createSubGroup">
                    <input value="{{reference}}" name="reference" hidden/>
                    <div class="form-group">
                        <label>Nome do SubGrupo</label>
                        <input class="form-control" id="name" type="text" name="name" placeholder="Ex: Realização da compra" autofocus>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">ADD</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="delSubgroup" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> DELETAR</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>X</span>
                </button>
            </div>
            <div class="modal-body">
                Você deseja deletar este Sub Grupo mesmo ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">NÃO</button>
                <button type="button" class="btn btn-primary yes">SIM</button>
            </div>
        </div>
    </div>
</div>
<script>
    $('#subgroups').DataTable({
        "responsive": true,
        "scrollY": "1000px",
        "scrollCollapse": true
    });
    let idEncrypt;
    $('.del').click(function () {
        idEncrypt = $(this).attr('data-id');
        $('#delSubgroup').modal('show');
    });
    $('.yes').click(function () {
        $.ajax({
            url: '/groups/sub/'+idEncrypt,
            type: 'DELETE',
            success: function(result) {
                if(result == 1){
                    window.location.reload();
                }
                else{
                    $('#delSubgroup').modal('hide');
                    alert("Error when deleting");
                }
            }
        });
    });

</script>