<div class="container-fluid">
    <div class="row h4">
        <div class="col-lg-12">
            <nav aria-label="breadcrumb" role="navigation">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a class="text-secondary" href="/home">Home</a></li>
                    <li class="breadcrumb-item" aria-current="page"><a class="text-secondary" href="/questionnaries">Questionários</a></li>
                    <li class="breadcrumb-item active" aria-current="page"><a class="text-primary">{{qnr.name}}</a></li>
                </ol>
            </nav>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <div class="chart chart-lg">
                <div class="radio_chart" id="radioChartQnr"></div>
                <div class="cap"></div>
                <div class="value" id="percentChartQnr">
                    0%
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
    <br>
    <div class="row">
        {{#each groups}}
            <div class="col text-center">
                <div class="row">
                    <div class="col"></div>
                    <div class="col">
                        <div style="cursor: pointer;" class="chart chart-sm" onclick="redirect({{id}}, '{{../reference}}')">
                            <div class="radio_chart radioChartContent"></div>
                            <div class="cap"></div>
                            <div class="value percentValue" data-progress="{{percentage}}">
                                0%
                            </div>
                        </div>
                        <label for="">{{name}}</label>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
        {{/each}}
    </div>
</div>
<script>
    $(window).scrollTop(150);
    function redirect(idgroup, idqnr){
        window.location.href = `/questionnaries/groups/details/${idqnr}/${idgroup}`;
    }
    function goTo(i) {
        reset(i);
        setTimeout(function () {
            var chart = $(".radioChartContent")[i];
            var pVal = $(".percentValue")[i];
            let frame = pVal.getAttribute('data-progress');
            chart.classList.add("animate");
            var currentPercent = 0;
            var currTimeout = setInterval(function () {

                if (currentPercent >= frame || currentPercent >= 100) {
                    pVal.innerHTML = frame + '%';
                    clearInterval(currTimeout);

                    chart.style.animationPlayState = "paused";
                    chart.style.webkitAnimationPlayState = "paused";

                    return false;
                } else {  
                    currentPercent++; 
                    pVal.innerHTML = currentPercent + "%";
                }
            }, 60);
        }, 1000);
    }

    function reset(i) {
        var chart = $(".radioChartContent")[i];
        var pVal = $(".percentValue")[i];
        chart.classList.remove("animate");
        pVal.innerHTML = "0%";
        chart.style.animationPlayState = "initial";
        chart.style.webkitAnimationPlayState = "initial";
    }
    function goToQnr(frame) {
        resetQnr();
        setTimeout(function () {
            var chartQnr = $("#radioChartQnr");
            var pValQnr = $("#percentChartQnr");
            chartQnr.addClass("animate");
            var currentPercentQnr = 0;
            var currTimeoutQnr = setInterval(function () {

                if (currentPercentQnr >= frame || currentPercentQnr >= 100) {
                    pValQnr.html(frame + '%');
                    clearInterval(currTimeoutQnr);

                    chartQnr.css('animationPlayState', "paused");
                    chartQnr.css('webkitAnimationPlayState', "paused");

                    return false;
                } else {  
                    currentPercentQnr++; 
                    pValQnr.html(currentPercentQnr + "%");
                }
            }, 60);
        }, 1000);
    }

    function resetQnr() {
        var chartQnr = $("#radioChartQnr");
        console.log(chartQnr)
        var pValQnr = $("#percentChartQnr");
        chartQnr.removeClass("animate");
        pValQnr.innerHTML = "0%";
        chartQnr.css("animationPlayState","initial");
        chartQnr.css("webkitAnimationPlayState","initial");
    }
    goToQnr({{percentage}});
    var mypVal = $(".percentValue");
    for(let i = 0; i < mypVal.length; i++){
        goTo(i);
    }   
</script>