<div class="container-fluid">
    <div class="row">
        <div class="col mt-5">
            <a class="btn btn-info float-right" href="/questionnaries/add"><i class="fa fa-plus mr-2"></i>ADD QUESTIONÁRIO</a>
            <div class="table-responsive mt-5">
                <table id="questionnaries" class="table table-bordered questionnaries text-center display nowrap" style="width: 100%;">
                    <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Criado Por</th>
                        <th>Criado Em</th>
                        <th>Questões</th>
                        <th>Progresso</th>
                        <th>Opções</th>
                    </tr>
                    </thead>
                    <tbody>
                        {{#each questionnaries}}
                            <tr>
                                <td>{{name}}</td>
                                <td>{{id_sbr_users}}</td>
                                <td>{{created_at}}</td>
                                <td>{{qtde}}</td>
                                <td>
                                    <div class="bar" >
                                        <div data-id="{{id}}" data-progress="{{progress}}" class="progress-bar myBar" style="width:0%">
                                        <div data-id="{{id}}" class="demo">0%</div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                {{#compare status '!=' 3}}
                                    <a class="btn btn-success" title="Reply" href="/questionnaries/reply/{{reference}}">Responder</a>
                                {{else}}
                                    <a href="/questionnaries/details/{{reference}}" class="btn btn-success" title="Detalhes"><i class="fa fa-eye"></i></a>
                                    <a class="btn btn-primary" title="Revisar" href="/questionnaries/review/{{reference}}">Revisar</a>
                                {{/compare}}
                                </td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    var table = $('#questionnaries').DataTable({
        "responsive": true,
        "scrollY": "500px",
        "scrollCollapse": true
    });

    $(document).ready(function(){
        var bar = document.getElementsByClassName("bar");
        for(let i = 0; i < bar.length; i++){
            bar[i].style.background = '#ceeeef';
            bar[i].style.display = 'flex';
            bar[i].style.flexDirection = 'row';
            bar[i].style.justifyContent = 'center';
            bar[i].style.alignItems = 'center';
            bar[i].style.width = '100%';
            bar[i].style.height = '44px';
        }
        var my = $('.myBar');
        function progress(i){
            var text = $(".demo")[i];
            var elem = $(".myBar")[i];
            var width = 0;
            var id = setInterval(frame, 20);
            function frame() {
                if (width >= elem.getAttribute('data-progress')) {
                    clearInterval(id);
                } else {
                    width++;
                    elem.style.height = '40px';
                    elem.style.background =  '-webkit-linear-gradient(left,#75d3ff, #54e5ea)';
                    elem.style.width = width + '%';
                    elem.style.textAlign = 'center';
                    text.style.lineHeight = '40px'
                    text.style.color = '#fff';
                    text.innerHTML = width * 1  + '%';
                }
            } 
        }
        for(let i = 0; i < my.length; i++){
            progress(i);
        }
    });
    
</script>