<div class="container">
    <div class="row">
        <div class="col mt-5">
            <a class="btn btn-info float-right" href="/questionnaries/add"><i class="fa fa-plus mr-2"></i>ADD QUESTIONNARIE</a>
            <div class="table-responsive mt-5">
                <table id="questionnaries" class="table table-bordered questionnaries text-center" style="width: 100%;">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Create By</th>
                        <th>Added In</th>
                        <th>Status</th>
                        <th>Options</th>
                    </tr>
                    </thead>
                    <tbody>
                        {{#each questionnaries}}
                            <tr>
                                <td>{{name}}</td>
                                <td>{{id_sbr_users}}</td>
                                <td>{{created_at}}</td>
                                {{#compare status '==' 1}}
                                    <td class="text-primary">Open</td>
                                {{else compare status '==' 2}}
                                    <td class="text-warning">Pending</td>
                                {{else compare status '==' 3}}
                                    <td class="text-success">Finished</td>
                                {{else}}
                                    <td class="text-danger">Invalid</td>
                                {{/compare}}
                                <td>
                                {{#compare status '!=' 3}}
                                    <a class="btn btn-success" title="Reply" href="/questionnaries/reply/{{id}}">Reply</a>
                                {{/compare}}
                                    <button class="btn btn-danger del" data-id="{{id}}" title="Delete"><i class="fa fa-trash"></i></button>
                                </td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    var table = $('#questionnaries').DataTable({
        "scrollY": "500px",
        "scrollCollapse": true
    });
</script>