 <br><br>  
 {{#if groups }}
    {{#each groups }}
        <div class="row">
            <div class="col-12">
                <div class="card bg-light mb-3" style="max-width: 100%;">
                    <div class="card-header">{{name}}</div>
                    <div class="card-body">
                        <div class="card-text">
{{#each questions as |quest key|}}
<div class="row">
    <div class="col-12">
        <div class="card bg-light mb-3" style="max-width: 100%;">
            <div class="card-header">
                {{math key '+' 1}}) {{quest.question}}
                <div class="float-right row align-items-center mr-1">
                    <div id="divButtonSave{{quest.id}}">
                        {{#compare quest.answer '!=' null}}
                            <i class="fa fa-check text-success mr-2"></i>
                        {{else}}
                            <i class="fa fa-ban text-danger mr-2"></i>
                        {{/compare}}
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="card-text">
                    {{#compare type '==' 2}}
                        {{#each model as |m keymodel|}}
                            <div class="custom-control custom-radio">
                                {{#compare quest.answer '==' m.id}}
                                    <input checked type="radio" class="custom-control-input" id="answer{{quest.id}}{{m.id}}" name="answer{{quest.id}}" value="{{m.value}}">
                                {{else}}
                                    <input onchange="save({{quest.id}},{{m.id}})" type="radio" class="custom-control-input" id="answer{{quest.id}}{{m.id}}" name="answer{{quest.id}}" value="{{m.value}}">
                                {{/compare}}
                                <label class="custom-control-label mb-2" for="answer{{quest.id}}{{m.id}}">{{m.model}}</label>
                            </div>
                        {{/each}}
                    {{/compare}}
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
{{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/each}}
    <div class="row align-items-center ml-1">
        <button type="button" id="saveAll" class="btn btn-success mb-4 mr-4">Enviar</button>
        <div id="divButtonSave">
        </div>
    </div>
{{/if}}

<script>
    $('#saveAll').click(function(){
        var qnr = {{reference}};
        /*var inputs = $('input:checked');
        var questions = [];
        for(let i = 0; i<inputs.length; i++){
            questions.push({'idQuestion': inputs[i].getAttribute('data-idquestion'), 'answer':inputs[i].getAttribute('data-value'), 'qnr': qnr});
        }*/
        $.ajax({
            type: "POST",
            url: "/questionnaries/save",
            data: {qnr: qnr},
            success: function(data){
                if(data == 1){
                    window.location.href = "/questionnaries"; 
                }
                else{
                    $('#divButtonSave').html(' ');
                    $('#divButtonSave').html('<i class="fa fa-ban text-danger mr-2"></i>');
                }
            }
        });
    });
    function save(idQuestion, answer){
        if(typeof answer != undefined){
            var qnr = {{reference}};
            $.ajax({
                type: "POST",
                url: "/savequestion",
                data: {idQuestion: idQuestion, answer:answer, qnr: qnr},
                success: function(data){
                    if(data == 1){
                        $('#divButtonSave'+idQuestion+'').html(' ');
                        $('#divButtonSave'+idQuestion+'').html('<i class="fa fa-check text-success mr-2"></i>');
                    }
                    else{
                        $('#divButtonSave'+idQuestion+'').html(' ');
                        $('#divButtonSave'+idQuestion+'').html('<i class="fa fa-ban text-danger mr-2"></i>');
                    }
                }
            });
            return false;
        }
        else{

        }
        /**/
    };

</script>