 <br><br>  
 <div class="container-fluid">
     <div class="row">
         <div class="col">
             {{#if groups }}
                    <div class="row">
                        {{#each groups as |gp|}}
                                <div class="col-4">
                                    <div class="card bg-light mb-3" style="max-width: 100%;">
                                        <div class="card-header text-center bg-info"><h2 class="text-white"><b>{{gp.name}}</b></h2></div>
                                        <div class="card-body">
                                            <div class="card-text">
                                                <div class="list-group">
                                                    {{#each subgroups as |sub key|}}
                                                        {{#compare sub.status '==' 0}}
                                                            <a href="#" class="text-danger list-group-item list-group-item-action">{{sub.name}}<i class="fa fa-arrow-right float-right"></i></a>
                                                        {{else compare sub.status '==' 1}}
                                                            <a href="#" class="text-warning list-group-item list-group-item-action">{{sub.name}}<i class="fa fa-arrow-right float-right"></i></a>
                                                        {{else compare sub.status '==' 2}}
                                                            <a href="#" class="text-success list-group-item list-group-item-action">{{sub.name}}<i class="fa fa-arrow-right float-right"></i></a>
                                                        {{else}}
                                                            <a href="#" class="list-group-item list-group-item-action">{{sub.name}}<i class="fa fa-arrow-right float-right"></i></a>
                                                        {{/compare}}
                                                    {{/each}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        {{/each}}
                    </div>
                <div class="align-items-center text-center">
                    <button type="button" id="saveAll" class="btn btn-light text-primary font-weight-bold col-lg-4">Finalizar</button>
                    <div id="divButtonSave"></div>
                </div>
            {{/if}}
         </div>
         {{!-- <div class="col-1"></div>
         <div class="col-3">
            <h4 class="text-center text-primary font-weight-bold">Navegação</h4>
            <hr>
            {{#if groups}}
                <div class="list-group">
                    {{#each groups}}
                        <a href="#grupo{{id}}" class="list-group-item list-group-item-action text-center" style="width: 100%;">{{name}}</a>
                    {{/each}}
                </div>
            {{/if}}
         </div> --}}
     </div>
 </div>
<script>
    $('#saveAll').click(function(){
        var qnr = {{reference}};
        $.ajax({
            type: "POST",
            url: "/questionnaries/save",
            data: {qnr: qnr},
            success: function(data){
                if(data == 1){
                    window.location.href = "/questionnaries"; 
                }
                else{
                    $('#divButtonSave').html(' ');
                    $('#divButtonSave').html('<i class="fa fa-ban text-danger mr-2"></i>');
                }
            }
        });
    });
    function save(idQuestion, answer){
        if(typeof answer != undefined){
            var qnr = {{reference}};
            $.ajax({
                type: "POST",
                url: "/savequestion",
                data: {idQuestion: idQuestion, answer:answer, qnr: qnr},
                success: function(data){
                    if(data == 1){
                        $('#divButtonSave'+idQuestion+'').html(' ');
                        $('#divButtonSave'+idQuestion+'').html('<i class="fa fa-check text-success mr-2"></i>');
                    }
                    else{
                        $('#divButtonSave'+idQuestion+'').html(' ');
                        $('#divButtonSave'+idQuestion+'').html('<i class="fa fa-ban text-danger mr-2"></i>');
                    }
                }
            });
            return false;
        }
        else{

        }
    };

</script>