<div class="col-md-12 col-sm-12">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="text-secondary" href="/home">Home</a></li>
            <li class="breadcrumb-item" aria-current="page"><a class="text-secondary" href="/questionnaries">Questionário</a></li>
            <li class="breadcrumb-item" aria-current="page"><a class="text-secondary" href="/questionnaries/groups/{{reference}}">{{qnrName}}</a></li>
            <li class="breadcrumb-item" aria-current="page"><a class="text-secondary" href="/questionnaries/groups/{{reference}}">{{nameGroup}}</a></li>
            <li class="breadcrumb-item" aria-current="page"><a class="text-primary">{{subgroup.name}}</a></li>
        </ol>
    </nav>
</div>
<hr>
<div class="container-fluid">
    <div class="row align-items-start">
        <div class="col-lg-7 col-md-12">
            <div class="mySection">
                <h3 class="mb-4" id="numberQuest"></h3>
                <div id="myquestion" class="align-items-center ">
                    <p id="question" class="ml-3"></p>
                    <div id="my-options"></div>
                </div>
                {{#compare query '==' first}}
                    <a class="btn btn-info float-right mt-4" href="/questionnaries/question/{{reference}}/{{subgroup.id}}/?question={{math query '+' 1}}">Próxima</a>
                {{else compare query '==' last}}
                    <a class="btn btn-info float-left mt-4" href="/questionnaries/question/{{reference}}/{{subgroup.id}}/?question={{math query '-' 1}}">Anterior</a>
                    <a class="btn btn-info float-right mt-4" href="/questionnaries/groups/{{reference}}">Início</a>
                {{else}}
                    <a class="btn btn-info float-right mt-4" href="/questionnaries/question/{{reference}}/{{subgroup.id}}/?question={{math query '+' 1}}">Próxima</a>
                    <a class="btn btn-info float-left mt-4" href="/questionnaries/question/{{reference}}/{{subgroup.id}}/?question={{math query '-' 1}}">Anterior</a>
                {{/compare}}
            </div>
        </div>
        <div class="col-lg-5 round">
            <div class="myNavigation text-center">
                <label class="myLabel mt-4">Questões do Questionário</label>
                <hr>
                {{#each subgroup.questions}}
                    {{#compare ../query '==' id}}
                        <a class="numQuest myBg-numQuest" id="active" href="#">{{math 1 '+' @index}}</a>
                    {{else}}
                        <a class="numQuest" href="/questionnaries/question/{{../reference}}/{{../subgroup.id}}/?question={{id}}">{{math 1 '+' @index}}</a>
                    {{/compare}}
                {{/each}}
                <hr>
            </div>
        </div>
    </div>
</div>
<script>
    $('#numberQuest').text("Questão "+$('#active').text())
    $.ajax({
        type: 'GET',
        url: '/getquestion/{{query}}/{{reference}}',
        success: function(data){
            if(data != 0){
                $('#question').text(data.question);
                $('#my-options').html(question({{query}},data.models, data.answer));
            }
        }
    })
    function question(id, models, ans){
        var quest = '';
        for(let i = 0; i < models.length; i++){
            if(models[i].id == ans){
                quest += `<label style="width:100%" for="answer${id}${models[i].id}">
                            <div class="option-quest mb-2">
                                <div class="custom-control custom-radio">
                                    <input checked type="radio" class="custom-control-input" id="answer${id}${models[i].id}" name="answer">
                                    <label class="custom-control-label" for="answer${id}${models[i].id}">${models[i].model}</label>
                                </div>
                            </div></label>`;
            }
            else{
                quest += `<label style="width:100%" for="answer${id}${models[i].id}">
                            <div class="option-quest mb-2" >
                                <div class="custom-control custom-radio">
                                    <input onchange="save(${id},${models[i].id})" type="radio" class="custom-control-input" id="answer${id}${models[i].id}" name="answer" value="${models[i].id}">
                                    <label class="custom-control-label" for="answer${id}${models[i].id}">${models[i].model}</label>
                                </div>
                            </div></label>`;
            }
        }
        return quest;
    }
</script>
