<div class="col-md-12 col-sm-12">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="/groups">Grupos</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a class="text-primary" onclick="window.history.back();">{{gp_name}}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{sub_name}}</li>
        </ol>
    </nav>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col mt-5">
            <button class="btn btn-info float-right" data-toggle="modal" data-target="#addQuestion"><i class="fa fa-plus mr-2"></i>ADD QUESTÃO</button>
            <div class="table-responsive mt-5">
                <table id="questions" class="table table-bordered questions text-center display nowrap" style="width: 100%;">
                    <thead>
                    <tr>
                        <th>N°</th>
                        <th>Questão</th>
                        <th>Adicionado Em</th>
                        <th>Opções</th>
                    </tr>
                    </thead>
                    <tbody>
                        {{#each questions}}
                            <tr {{#compare deleted_at '!=' null}} class="alert-danger"{{/compare}}>
                                <td>{{number}}</td>
                                <td>{{question}}</td>
                                <td>{{created_at}}</td>
                                <td>
                                    {{#compare deleted_at '!=' null}}
                                        Deletado
                                    {{else}}
                                        <button class="btn btn-danger del" data-id="{{id}}" title="Delete"><i class="fa fa-trash"></i></button>
                                    {{/compare}}
                                </td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addQuestion" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> ADD QUESTÃO </h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>X</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" action="/groups/sub/questions" id="createQuestion">
                    <input hidden name="reference" value="{{reference}}">
                    <div class="form-group">
                        <label>Questão:</label>
                        <textarea name="question" id="question" class="form-control"></textarea>
                    </div>
                    <div id="divModel" class="form-group">
                        <label for="model" class="col-form-label">Modelos para resposta: </label>
                        <div class="row">
                            {{#each models}}
                                <div class="col-6">
                                    <div class="custom-control custom-checkbox ml-3">
                                        <input name="modelsCheck[]" type="checkbox" class="custom-control-input modelsCheck" data-id="{{id}}" id="modelsCheck{{id}}" value="{{id}}" onchange="this.value =  this.checked ? {{id}} : 0">
                                        <label class="custom-control-label" for="modelsCheck{{id}}">{{model}}</label>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-row" id="value{{id}}" hidden>
                                        <div class="col-sm-7 col-lg-5">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <button type="button" data-id="{{id}}" class="btn btn-info minus"><i class="fa fa-minus"></i></button>
                                                </div>
                                                <input name="value[]" type="text" class="form-control" disabled id="inputValue{{id}}" placeholder="0">
                                                <div class="input-group-prepend">
                                                    <button type="button" data-id="{{id}}" class="btn btn-info plus"><i class="fa fa-plus"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {{/each}} 
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">ADD</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="delQuestion" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> DELETAR</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>X</span>
                </button>
            </div>
            <div class="modal-body">
                Você deseja deletar esta questão mesmo ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">NÃO</button>
                <button type="button" class="btn btn-primary yes">SIM</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="upQuestion" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> MODELOS </h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>X</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" action="/question/model" id="createQuestion">
                    <div class="form-group">
                        <label>Modelos:</label>
                        <div id="modelUp" class="row">
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Atualizar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    
    var table = $('#questions').DataTable({
        "responsive": true,
        "scrollY": "1000px",
        "scrollCollapse": true,
        "pageLength": 50
    });
    let idEncrypt;
    $('.del').click(function(){
        idEncrypt = $(this).attr('data-id');
        $('#delQuestion').modal('show');
    });
    $('.yes').click(function () {
        $.ajax({
            url: '/groups/sub/questions/'+idEncrypt,
            type: 'DELETE',
            success: function(result) {
                if(result == 1){
                    window.location.reload();
                }
                else{
                    $('#delQuestion').modal('hide');
                    alert("Error when deleting");
                }
            }
        });
    });
    $('.plus').click(function(){
        var id = $(this).attr('data-id');
        var value = parseInt($('#inputValue'+id).val()) || 0;
        value++;
        $('#inputValue'+id).val(value);
    });
    $('.minus').click(function(){
        var id = $(this).attr('data-id');
        var value = parseInt($('#inputValue'+id).val()) || 0;
        value--;
        if(value < 0){value = 0}
        $('#inputValue'+id).val(value);
    });
    $('.modelsCheck').click(function(){
        var id = parseInt($(this).attr('data-id'));
        if($(this).is(':checked')){
            $('#value'+id).prop('hidden', false);
            $('#inputValue'+id).prop('disabled', false);
        }
        else{
            $('#value'+id).prop('hidden', true);
            $('#inputValue'+id).prop('disabled', true);
        }
    });
    $('#questions tbody').on('dblclick', 'tr', function () {
        let dato = table.row( this ).data();
        $('#modelUp').html('');
        $.ajax({
            url: '/question/model/'+dato[0],
            type: 'GET',
            success: function(result) {
                if(result != 0){
                    $('#modelUp').html(`<input hidden value="${dato[0]}" name="reference"/>`);
                    for(let i = 0; i < result.length; i++){
                        let status;
                        let type;
                        if(result[i].deleted_at == null){status = ['text-success', 1, 'Deletar']}
                        else{status = ['text-danger', 1, 'Ativar']}
                        $('#modelUp').append(`
                            <div class="col-6">
                                <div class="custom-control custom-checkbox ml-3">
                                   <label id="status${result[i].id}" class="${status[0]}">${result[i].model}</label>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-row" id="value${result[i].id}">
                                    <div class="col-sm-7 col-lg-5">
                                        <div class="input-group">
                                            <input name="value[]" type="text" class="form-control" id="inputValue${result[i].id}" placeholder="0" value="${result[i].value}" autocomplete="off">
                                            <input name="model[]" hidden placeholder="0" value="${result[i].id}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-row">
                                    <div class="col-sm-7 col-lg-5">
                                        <div class="input-group">
                                            <div id="statusButton${result[i].id}">
                                                <a style="cursor: pointer"  onclick="statusModel(${result[i].id}, ${status[1]})">${status[2]}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>`);
                    }
                }
                else{
                    $('#delQuestion').modal('hide');
                    alert("Error when deleting");
                }
            }
        });
        $('#nameFunc').val();
        $('#upQuestion').modal('show');
    });
    function statusModel(id, type){
        $.ajax({
            type: 'DELETE',
            url: '/question/model/'+id+'/'+type,
            success: function (data) {
                console.log(data)
                if (data == 1) {
                    $('#status' + id).removeClass('text-success');
                    $('#status' + id).addClass('text-danger');
                    $('#statusButton' + id).html('');
                    $('#statusButton' + id).html('<a style="cursor: pointer" onclick="statusModel('+id+', 0)">Ativar</a>');
                }
                else if (data == 2) {
                    $('#status' + id).removeClass('text-danger');
                    $('#status' + id).addClass('text-success');
                    $('#statusButton' + id).html('');
                    $('#statusButton' + id).html('<a style="cursor: pointer" onclick="statusModel('+id+', 1)">Deletar</a>');
                }
            }
        });
    }

</script>