<div class="col-md-6 col-sm-12">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="/groups">Grupos</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a class="text-primary" onclick="window.history.back();">{{gp_name}}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{sub_name}}</li>
        </ol>
    </nav>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col mt-5">
            <button class="btn btn-info float-right" data-toggle="modal" data-target="#addQuestion"><i class="fa fa-plus mr-2"></i>ADD QUESTÃO</button>
            <div class="table-responsive mt-5">
                <table id="questions" class="table table-bordered questions text-center display nowrap" style="width: 100%;">
                    <thead>
                    <tr>
                        <th>N°</th>
                        <th>Questão</th>
                        <th>Tipo</th>
                        <th>Modelo</th>
                        <th>Adicionado Em</th>
                        <th>Opções</th>
                    </tr>
                    </thead>
                    <tbody>
                        {{#each questions}}
                            <tr>
                                <td>{{number}}</td>
                                <td>{{question}}</td>
                                <td>{{type}}</td>
                                <td>{{model}}</td>
                                <td>{{created_at}}</td>
                                <td>
                                    <button class="btn btn-danger del" data-id="{{id}}" title="Delete"><i class="fa fa-trash"></i></button>
                                </td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addQuestion" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> ADD QUESTÃO </h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>X</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" action="/groups/sub/questions" id="createQuestion">
                    <input hidden name="reference" value="{{reference}}">
                    <div class="form-group">
                        <label>Questão:</label>
                        <textarea name="question" id="question" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Tipo de Questão:</label>
                        <select name="type" id="type" class="form-control">
                            <option selected disabled>Selecione o tipo de questão</option>
                            <option value="1">Questão Aberta</option>
                            <option value="2">Questão Fechada</option>
                        </select>
                    </div>
                    <div id="divModel" class="form-group">
                        <div id="type1" hidden>
                            <label for="model" class="col-form-label">Modelo da questão</label>
                            <select disabled name="model" id="model" class="form-control">
                                <option selected disabled>Selecione o modelo</option>
                                {{#each models}}
                                    <option value="{{agroup}}">{{model}}</option>
                                {{/each}}
                                {{!-- <option value="0">Another Model</option> --}}
                            </select>
                        </div>
                    </div>
                    {{!-- <div id="divModelAnother" class="form-group" hidden>
                        <label for="anotherModel" class="col-form-label">Question Model</label>
                        <div class="input-group">
                            <select multiple name="anotherModel[]" id="anotherModel" style="width: 100%" disabled></select>
                        </div>
                        <label for="modelValue" class="col-form-label">Model Value</label>
                        <div class="input-group">
                            <select multiple name="value[]" id="modelValue" style="width: 100%" disabled></select>
                        </div>
                        <br>
                        <div class="custom-control custom-checkbox">
                            <input disabled name="checkToSave" type="checkbox" class="custom-control-input" id="checkToSave" onchange="this.value = this.checked ? 1 : 0;">
                            <label class="custom-control-label" for="checkToSave">Save model</label>
                        </div>
                    </div> --}}
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">ADD</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $('#questions').DataTable({
        "responsive": true,
        "scrollY": "1000px",
        "scrollCollapse": true
    });
    $('#anotherModel').select2({
        tags: true,
        tokenSeparators: ['#'],
        placeholder: "Add model here",
        selectOnClose: true,
        closeOnSelect: false
    });
    $('#modelValue').select2({
        tags: true,
        tokenSeparators: ['#'],
        placeholder: "Add values here",
        selectOnClose: true,
        closeOnSelect: false
    });
    $('#type').on('change', function(){
        let value = $('#type').val();
        if(value == 1){
            $('#type1').prop('hidden', true);$("#model").prop('disabled', true);
            $('#divModelAnother').prop('hidden', true);$('#anotherModel').prop('disabled', true);
            $('#checkToSave').prop('disabled', true);$('#modelValue').prop('disabled', true);
        }
        else if(value == 2){
            $('#type1').prop('hidden', false);$("#model").prop('disabled', false);
            $('#divModelAnother').prop('hidden', true);$('#anotherModel').prop('disabled', true);
            $('#checkToSave').prop('disabled', true);$('#modelValue').prop('disabled', true);
        }
    });
    /*$('#model').on('change', function(){
        let value = $(this).val();
        if(value == 0){
            $('#divModelAnother').prop('hidden', false);$('#anotherModel').prop('disabled', false);
            $('#checkToSave').prop('disabled', false);$('#modelValue').prop('disabled', false);
        }
        else{
            $('#divModelAnother').prop('hidden', true);$('#anotherModel').prop('disabled', true);
            $('#checkToSave').prop('disabled', true);$('#modelValue').prop('disabled', true);
        }
    });*/
</script>