<div class="col-md-12 col-sm-12">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="/groups">Grupos</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a class="text-primary" onclick="window.history.back();">{{gp_name}}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{sub_name}}</li>
        </ol>
    </nav>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col mt-5">
            <button class="btn btn-info float-right" data-toggle="modal" data-target="#addQuestion"><i class="fa fa-plus mr-2"></i>ADD QUESTÃO</button>
            <div class="table-responsive mt-5">
                <table id="questions" class="table table-bordered questions text-center display nowrap" style="width: 100%;">
                    <thead>
                    <tr>
                        <th>N°</th>
                        <th>Questão</th>
                        <th>Tipo</th>
                        <th>Modelo</th>
                        <th>Adicionado Em</th>
                        <th>Opções</th>
                    </tr>
                    </thead>
                    <tbody>
                        {{#each questions}}
                            <tr {{#compare deleted_at '!=' null}} class="alert-danger"{{/compare}}>
                                <td>{{number}}</td>
                                <td>{{question}}</td>
                                <td>
                                    {{#compare type '==' 1}}
                                        Questão Aberta
                                    {{else compare type '==' 2}}
                                        Questão Fechada
                                    {{/compare}}
                                </td>
                                <td>{{model}}</td>
                                <td>{{created_at}}</td>
                                <td>
                                    {{#compare deleted_at '!=' null}}
                                        Deletado
                                    {{else}}
                                        <button class="btn btn-danger del" data-id="{{id}}" title="Delete"><i class="fa fa-trash"></i></button>
                                    {{/compare}}
                                </td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addQuestion" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> ADD QUESTÃO </h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>X</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" action="/groups/sub/questions" id="createQuestion">
                    <input hidden name="reference" value="{{reference}}">
                    <div class="form-group">
                        <label>Questão:</label>
                        <textarea name="question" id="question" class="form-control"></textarea>
                    </div>
                    <div id="divModel" class="form-group">
                        <label for="model" class="col-form-label">Modelo da questão</label>
                        {{#each models}}
                            <div class="custom-control custom-checkbox ml-4">
                                <input name="modelsCheck[]" type="checkbox" class="custom-control-input" id="modelsCheck{{id}}" value="{{id}}" onchange="this.value =  this.checked ? {{id}} : 0">
                                <label class="custom-control-label" for="modelsCheck{{id}}">{{model}}</label>
                            </div>
                        {{/each}}
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">ADD</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="delQuestion" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> DELETAR</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>X</span>
                </button>
            </div>
            <div class="modal-body">
                Você deseja deletar esta questão mesmo ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">NÃO</button>
                <button type="button" class="btn btn-primary yes">SIM</button>
            </div>
        </div>
    </div>
</div>
<script>
    $('#questions').DataTable({
        "responsive": true,
        "scrollY": "1000px",
        "scrollCollapse": true
    });
    let idEncrypt;
    $('.del').click(function () {
        idEncrypt = $(this).attr('data-id');
        $('#delQuestion').modal('show');
    });
    $('.yes').click(function () {
        $.ajax({
            url: '/groups/sub/questions/'+idEncrypt,
            type: 'DELETE',
            success: function(result) {
                if(result == 1){
                    window.location.reload();
                }
                else{
                    $('#delQuestion').modal('hide');
                    alert("Error when deleting");
                }
            }
        });
    });
    /*$('#model').on('change', function(){
        let value = $(this).val();
        if(value == 0){
            $('#divModelAnother').prop('hidden', false);$('#anotherModel').prop('disabled', false);
            $('#checkToSave').prop('disabled', false);$('#modelValue').prop('disabled', false);
        }
        else{
            $('#divModelAnother').prop('hidden', true);$('#anotherModel').prop('disabled', true);
            $('#checkToSave').prop('disabled', true);$('#modelValue').prop('disabled', true);
        }
    });*/
</script>